{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Número de Títulos</th>
        </tr>
        {% for basquete in dados %}
        <tr>
            <td>{{basquete.nome}}</td>
            <td>{{basquete.cidade}}</td>
            <td>{{basquete.numero_titulos}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

